*{
    background-color: rgb(225, 249, 239);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav{
    display: flex;
    justify-content: center;
    margin: 50px;
}

p{
    text-align: center;
}

button{
    width: 250px;
    border: none;
    background-color: rgb(236, 247, 242);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button:hover{
    background-color: white;
}

button:active{
    transform: translateY(-2px);
}